@import '../shared/variables.scss';

.stations {
  .stations-list {
    margin-bottom: 2rem;
  }

  .station {
    background-color: $color-black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    justify-content: flex-end;
    margin-bottom: $pad-h;
    min-height: 9rem;
    padding: $pad-h $pad-w;
    position: relative;

    &-name {
      margin-bottom: .5rem;
      color: $color-white;
    }

    &-play {
      position: absolute;
      right: $pad-w;
    }
  }
}